*{
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: rgb(163, 36, 53);
    margin-left: 25%;
}

#subtitulo {
    font-family: sans-serif;
    color:rgb(104, 12, 24);
    margin-left: 26%;
}

h1::after{
    content: '';
    width: 200px;
    height: 2px;
    background: currentColor;
    display: block;
    margin-left: 1%;
    margin-bottom: 5px;
}

fieldset {
    border:0;
}

body{
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(104, 12, 24);
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

section {
    background:  #CEB3BF;
    border-radius: 10px;
    position: absolute;
    padding: 1em;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: rgb(104, 12, 24);
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text,"], .campo input[type="email"], .campo input[type="text"], .campo select, .campo textarea {
    padding: 0.1em;
    border:1px solid rgb(104, 12, 24);
    box-shadow: 1px 1px 1px #A9788E;
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #ffdef5;
}

.botao{
    font-size: 1.2em;
    background: rgb(163, 36, 53);
    border: 0;
    margin-bottom: 1em;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 99%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background: #AC7C92;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

#check {
    display: inline-block;
}